/* line chart */
.example-line-chart .ct-series {
  stroke-width: 2px;
}
.example-line-chart .ct-series .ct-point {
  stroke-width: 8px;
  stroke-linecap: round;
}
.example-line-chart .ct-series .ct-point.featured {
  stroke-width: 16px;
}
.example-line-chart .ct-series-a .ct-line,
.example-line-chart .ct-series-a .ct-point {
  stroke: #d29500;
}
.example-line-chart .ct-series-b .ct-line,
.example-line-chart .ct-series-b .ct-point {
  stroke: #498521;
}
.example-line-chart .ct-series-c .ct-line,
.example-line-chart .ct-series-c .ct-point {
  stroke: #2d6ba4;
}

.example-line-chart .ct-labels .ct-horizontal {
  opacity: 0;
}

.chartist .tooltip {
  background: #fff;
  border: 1px solid #000;
  padding: 0.25em;
}
